html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@font-face {
  font-family: Avenir Regular;
  src: url(../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: Avenir Demi Bold;
  src: url(../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Demi.otf);
}

@font-face {
  font-family: Avenir Bold;
  src: url(../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Bold.otf);
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 160px;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-header__title {
  font-family: Avenir Regular;
  font-size: 50px;
  line-height: 68px;
  margin-bottom: 64px;
}

.input__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input__title--header {
  font-family: Avenir Regular;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 13px;
}

.input__title--box {
  height: 70px;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-left: 18px;
  font-family: Avenir Regular;
  font-size: 24px;
  line-height: 24px;
}

.input__date {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input__date--posting {
  font-family: Avenir Regular;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 13px;
}

.input__date--input {
  height: 70px;
  background-color: #fafafa;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-left: 18px;
  font-family: Avenir Regular;
  font-size: 24px;
  line-height: 24px;
}

.input__category {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input__category--header {
  font-family: Avenir Regular;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 13px;
}

.input__category--input {
  width: 455px;
  height: 70px;
  background-color: #fafafa;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-left: 18px;
  font-family: Avenir Regular;
  font-size: 24px;
  line-height: 24px;
}

.input__links {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input__links--header {
  font-family: Avenir Regular;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 13px;
}

.input__links--input {
  width: 100px;
  height: 70px;
  background-color: #fafafa;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-left: 18px;
  font-family: Avenir Regular;
  font-size: 24px;
  line-height: 24px;
}

.input__images {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input__images--header {
  font-family: Avenir Regular;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 13px;
}

.input__images--input {
  width: 100px;
  height: 70px;
  background-color: #fafafa;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-left: 18px;
  font-family: Avenir Regular;
  font-size: 24px;
  line-height: 24px;
}

.input__videos {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input__videos--header {
  font-family: Avenir Regular;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 13px;
}

.input__videos--input {
  width: 100px;
  height: 70px;
  background-color: #fafafa;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-left: 18px;
  font-family: Avenir Regular;
  font-size: 24px;
  line-height: 24px;
}

.input__body {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input__body--header {
  font-family: Avenir Regular;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 13px;
}

.input__body--input {
  padding-top: 40px;
  width: 100%;
  height: 660px;
  background-color: #fafafa;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-left: 18px;
  font-family: Avenir Regular;
  font-size: 24px;
  line-height: 24px;
}

.buttons {
  padding-top: 70px;
  padding-bottom: 70px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button--white {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 170px;
  height: 50px;
  padding: 11px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Avenir Regular;
  font-size: 18px;
  line-height: 18px;
  border: none;
  background-color: #ffffff;
}

.button--grey {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 170px;
  height: 50px;
  padding: 11px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Avenir Regular;
  font-size: 18px;
  line-height: 18px;
  border: none;
  background-color: #dddddd;
}

.main-container {
  margin: 70px 158px;
}

.main-container__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container__top--header {
  font-family: Avenir Regular;
  font-size: 50px;
  line-height: 50px;
}

.main-container__top--button {
  width: 170px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: none;
}

.main-container__top--button:focus {
  outline: none;
}

.main-container__top--button::hover {
  cursor: pointer;
}

.main-container__top--button span {
  font-family: Avenir Regular;
  font-size: 18px;
  line-height: 18px;
}

.main-container__placeholders {
  margin-top: 91px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: Avenir Regular;
  font-size: 20px;
  line-height: 20px;
}

.main-container__placeholders--title {
  margin-right: 708px;
}

.main-container__placeholders--category {
  margin-right: 66px;
}

.main-container__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1120px;
  height: 120px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-bottom: 20px;
}

.main-container__article--title {
  font-family: Avenir Regular;
  font-size: 24px;
  line-height: 33px;
  margin-left: 40px;
  width: 605px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.main-container__article--category {
  font-family: Avenir Regular;
  font-size: 18px;
  line-height: 15px;
  margin-left: 115px;
  width: 150px;
}

.main-container__article--date {
  font-family: Avenir Regular;
  font-size: 18px;
  line-height: 15px;
  margin-left: 20px;
}
/*# sourceMappingURL=main.css.map */